<md-content layout="column" style="min-height:1600px">
	<div ng-include="'components/navBar/navBarTemplate.html'" ng-controller="NavBarController"></div>
	<div layout="column" layout-align="center center" style="color:gray; font-size:50px; min-height:500px; padding:100px" flex>
		<div layout="row" layout-align="center center">
			<p>Awesome! Your question was sent! We will let you know when when it is answered. </p>
		</div>
		<div layout="row" layout-align="center center" style="padding-top:20px;">
			<md-button class="md-raised md-primary" href="#/askQuestion" style="font-size:40px; width: 650px;  padding:30px;">Ask another question</md-button>
		</div> 
		<div layout="row" layout-align="center center" style="padding-top:20px;">
			<md-button class="md-raised md-primary" href="#/refugeeYourQuestions" style="font-size:40px; width: 650px; padding:30px">Your Questions</md-button>
		</div>

	</div>
</md-content>