<div layout="column" layout-align="centre">
	<div ng-include="'components/navBar/navBarTemplate.html'" ng-controller="NavBarController"></div>

	<div layout="column" style="font-size:50px; padding: 80px;">
	    <p>R.Answers is a platform to empower refugees to learn and succeed in their new country of residence. </p>
	    <p> As a refugee, you can ask day-to-day questions, check the status of those questions to see if a volunteer has read it, and see other users' questions and answers in order to learn from their experiences.  </p>
	    <p> As a volunteer, you can help out by answering refugees' questions seamlessly as you're on the go. You can answer the questions designated for you, and you can also go ahead and check out all unanswered questions, helping even more individuals settling in the US.</p>

	</div> 



</div>