<div layout="column">
	<div ng-include="'components/navBar/navBarTemplate.html'" ng-controller="NavBarController"></div>
	<div layout="column" style="font-size:50px; padding: 80px;">
    <p>Pick a category below: </p>
    <md-checkbox aria-label="Checkbox 1" style="padding: 20px;">
      Health
    </md-checkbox>
    <md-checkbox aria-label="Checkbox 1" style="padding: 20px;">
      Food
    </md-checkbox>
    <md-checkbox aria-label="Checkbox 1" style="padding: 20px;">
      Fun
    </md-checkbox>
    <md-checkbox aria-label="Checkbox 1" style="padding: 20px;">
      Transit
    </md-checkbox>
    <md-checkbox aria-label="Checkbox 1" style="padding: 20px;">
      Jobs
    </md-checkbox>
    <md-checkbox aria-label="Checkbox 1" style="padding: 20px;">
      Case Issues
    </md-checkbox>



  </div>
  <div layout="row" layout-align="center center" style="padding-top:20px;">
    <md-button class="md-raised md-primary nextandforgot" href="#/signUp4"> Next </md-button>
  </div>
</div>