<md-toolbar class="md-tall"  layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" style="width: 108px; height: 108px">
          <md-icon md-svg-icon="images/icons/home.svg" style="width: 72px; height: 72px"></md-icon>
        </md-button>
        
        <div layout="row" layout-align="center center" flex style="font-size:40px">
          {{$parent.main.title}}
        </div>
        <md-button class="md-icon-button" style="width: 90px; height: 90px">
          <md-icon md-svg-icon="images/icons/help.svg" style="width: 83px; height: 83px"></md-icon>
        </md-button>
        <md-button class="md-icon-button" style="width: 108px; height: 108px">
          <md-icon md-svg-icon="images/icons/menu.svg" style="width: 100px; height: 100px"></md-icon>
        </md-button>
      </div>
</md-toolbar>