<md-toolbar class="md-tall"  layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" style="width: 108px; height: 108px">
          <md-icon md-svg-icon="images/icons/home.svg" style="width: 72px; height: 72px"></md-icon>
        </md-button>
        
        <span flex></span>
        <md-button class="md-icon-button" style="width: 108px; height: 108px">
          <md-icon md-svg-icon="images/icons/menu.svg" style="width: 100px; height: 100px"></md-icon>
        </md-button>
      </div>
</md-toolbar>