<div>
	<div ng-include="'components/navBar/navBarTemplate.html'" ng-controller="NavBarController"></div>
  <div layout="row" layout-align="center center">
    <span style="font-size: 100px; color: #E0E0E0;text-align:center; padding:80px; ">Your information was successfully stored!</span>
  </div>
	<!--
  <md-card layout="column" layout-align="center center" class="successCard">
        <md-card-title layout="column" layout-align="center center">
          <md-card-title-text layout="column" layout-align="center center">
            <span style="font-size: 100px; color: #E0E0E0;text-align:center;">Your information was successfully stored!</span>
            
          </md-card-title-text>
      </md-card> -->
    <div layout="row" layout-align="center center" style="padding-top:20px;">
		<md-button class="md-raised md-primary nextandforgot" href="#/login"> Log In </md-button>
	</div>
</div>